{
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-astro"],
  "singleQuote": true,
  "semi": false,
  "trailingComma": "es5",
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "^@chakra-ui/react$",
    "^@our-vision-front/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^[./]"
  ],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
