---
import { Greeting } from '../components/Greeting'
import BaseLayout from '../layouts/BaseLayout.astro'
import '../styles/global.css'

const pageTitle = 'homepage'
const greetingMessages = ['どうも', 'こんにちは', '初めまして', 'ようこそ']
---

<BaseLayout pageTitle={pageTitle}>
  <h2>my best homepage</h2>
  <Greeting client:load messages={greetingMessages} />
</BaseLayout>
