---
// export const prerender = true

const renderedAt = new Date().toISOString();

---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ISR Check</title>
  </head>
  <body>
    <h1>ISR Check Page</h1>
    <p>This page was rendered at: {renderedAt}</p>
  </body>
</html>